$theme-colors: (
    "primary": blue,
    "dark": #000000
);

@import "node_modules/bootstrap/scss/bootstrap";

body {
    padding-top:56px;
}
.footer {
    margin-top:3rem;
}
// .navbar {
//     border-bottom:1px solid #eee;
// }
.acces-control h1{
    padding-bottom: .8rem;
    border-bottom: 1px solid #c7c7c7;
    margin-bottom:1rem;
    text-decoration: none;
}

.btns-section{
    display: flex;
    justify-content: space-between;
}
.btn-add, .btns-auth{
    border:none;
    border-radius: .6rem;
    // background-color: #56B956; green
    background-color: #1463b9;
    color: white;
    padding: .5rem;
    margin: .5rem 0;
    width: 8rem;
}
.btns-auth:hover{
    // background-color: #4da24d; green
    background-color: #0e4888;
    color: white;
}

form{
    margin: 1rem 0;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
}

form input{
    width: -webkit-fill-available;
    min-height: 3rem;
    border: none;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #c7c7c7;
    padding: 0 1.2rem;
    background-color: #F7F7F7;
    // text-transform: capitalize;
}

.search-user button{
    border:1px solid  #ced4da;
}

.table{
    background-color:#F7F7F7;
    border-top: 1px solid #c7c7c7;

}
.user-list{
    background-color: transparent;
}
.user-list button{
    background-color: #D84E4A;
    color: white;
    padding: .3rem 1rem;
    border: none;
    border-radius: .5rem;
}

.btn-details{
    background-color: #D84E4A;
    color: white;
    padding: .3rem 1rem;
    border: none;
    border-radius: .5rem;
    width: 5.5rem;
}

.btn-details:hover{
    background-color: #c52f2a;
    color: white;
}



//table
.table > :not(caption) > * > *{
    border-bottom-width:0;
    border-top-width:1px;
    
}
table{
    margin: 0 !important;
    border-bottom: none;
}
.row-table{
    background-color: white;
}

.row-table td{
    margin: 1rem 0;
}

.pagination-wrapper{
    border: 1px solid #ced4da;
    border-radius: .5rem;
}

.pagination-wrapper button{
    color: #1463b9;
    font-weight: 500;
}

.pagination-wrapper button:hover{
    background-color: #0e4888;
    color: white;
}

.active{
    background-color: #1463b9;
    color: white !important;
}


.table-details{
    border: 1px solid #c7c7c7;
    border-radius: 5px;
}


.login-style{
    background-repeat: no-repeat;
    background: rgb(254,254,254);
    background: linear-gradient(270deg, #fefefe 0%, #5dc3f5  100%);
    margin: auto;
    height: 90vh;
    width: 60vw;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-style-main{
    background-color: #ffffff52;
    // border: 1px solid #58ba5826;
    padding: 5rem 2rem;
}